body {
    margin: 0;
    text-align: center;
    border: 2px solid massKilo
}
h4 {
    color: #CCC1FF;
    margin-bottom: 8px;
}
p {
    color: white;
    margin-top: 0px;
    font-size: 14px;
}
#topDiv {
    width: 450px;
    height: 200px;
    background-color: #6943FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}
#bottomDiv {
    width: 450px;
    background-color: #1F2937;
    padding: 20px 0px;
}
#smallBox {
    background-color: #273549;
    padding: 8px;
    margin: 10px 20px 20px 20px;
}
#btn-el {
    padding: 8px 20px;
    color: #3D3D3D;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-size: 14px;
}
#input-el {
    width: 80px;
    height: 60px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #6943FF;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}